body {
  font-family: Arial, sans-serif;
}
 nav {
   width: 100%;
   height: 60px;
   background: #344051;
 }
.logo {
  color: #fff;
  font-size: 28px;
  line-height: 60px;
  padding-left: 388px;
  float: left;
}
.menu{

  padding-left: 432px;
float: left;
}
.menu li {
  float:left;
  line-height: 20px;
  color: white;
  margin-right: 5px;
  font-size: 16px;
  text-transform: uppercase;
padding-right: 10px;
padding-top: 20px;
}
.main {
  width: 100%;
  height:calc(100% - 60px);
  background:url(../img/парень.png) 90% 100%/ auto 85% no-repeat ,url(../img/фон.png) center/cover no-repeat;
}
.title_container {
  float: left;
  margin: 300px 0px 0px 404px;
  color: #2c384a;
  text-align: center;
}
.title_container h1 {
  font-size: 60px;
  font-weight: bold;
}
.title_container h4 {
margin-top: 40px;
font-size: 22px;
color: #79818d;
}
.title_container input {
  height: 40px;
  text-align: center;
  border: 2px solid #6d7682;
  background: none;
  border-radius: 10px;
  color: #6d7682;
  font-size: 13px;
  padding: 0px 16px;
  margin-top: 58px 14px 0px 14px;
}
.me h2   {
  height: 300px;
  box-shadow: white;
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  background: url("../img/Черта-заголовка.png") 50% 10% no-repeat,url("../img/фотка.png") 50% 60% no-repeat;
  font-weight: bold;


}

.me p {
  text-align: center;
  font-size: 10px;
  color: #6d7682;
}


.me input {
  margin-left: 700px;
  margin-top: 20px;
  color: #6d7682;
  border: 3px solid #6d7682;
  border-radius: 5px;
  padding: 5px 2px 3px 18px;
  box-shadow: white;
  height: 30px;
  background: url("../img/иконка.png") 1% 50% no-repeat;
}


.My_skills  {
  box-shadow: white;
  height: 505px;
  background:url("../img/ноут.png") 20% 50% no-repeat,url("../img/знак.png") 35% 50% no-repeat,url("../img/ракета.png") 60% 50% no-repeat,url("../img/граммофон.png") 75% 50% no-repeat,url("../img/Черта-заголовка.png") 50% 10% no-repeat,url("../img/картинка фона.png") no-repeat;
}
.My_skills h2{
  text-align: center;
  margin-top: 205px;
  font-size: 30px;
  font-weight: bold;
}

.My_skills br {
  padding-left: 280px;
  padding-top: 270px;
  color: black;
}

.My_skills h3 {
  padding-left: 280px;
  padding-top: 270px;
  font-weight: bold;
  color: darkorange;
  font-size: 15px;
  float: left;
}
.My_skills br {   /* Без понятия как сделать 2 разных цвета текста*/
  padding-left: 280px;
  padding-top: 270px;
  color: black;
}

.My_skills h4 {
  padding-left: 15px;
  padding-top: 270px;
  font-weight: bold;
  color: darkorange;
  font-size: 15px;
  float: left;
}
.My_skills h5 {
  padding-left: 840px;
  margin-top: 270px;
  font-weight: bold;
  color: darkorange;
}
.My_skills h6 {
  padding-left: 1100px; /* так же не знаю уже как его поднять на нужную высоту */
  margin-bottom: 100px;
  font-weight: bold;
  color: darkorange;
}
.Cases h2 {
  color: #384354;
  padding-top: 111px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  box-shadow: white;
  height: 300px;
  background: url("../img/Черта-заголовка.png") 50% 60% no-repeat
}
.Cases p {
text-align: center;
color: #3f495a;
background: url("../img/фотка 2.png") 50% 50% no-repeat; /* Тут тоже из за разрешения екрана встало криво?*/
box-shadow: white;
height: 860px;
}
.Cases h3 {
  padding-left: 650px;
  font-size: 30px;
  color: #384354;
  font-weight:bold;

}
.Cases h4 {
  padding-left: 650px;
  padding-top: 10px;
  color: #3f495a;


}
.Cases h5 {
padding-left: 500px;
font-size: 30px;
font-weight: bold;
color: #384354;
}
.Cases h6 {
  padding-left: 500px;
  color: #384354;
  padding-top: 5px
}
.b h2 {
  padding-left: 500px;
  color: #384354;
  font-size: 30px;
  font-weight: bold;
  padding-top: 5px;
}
.b h3 {
  padding-top: 5px;
  padding-left: 500px;
  color: #384354;
}
.b h4 {
  margin-left: 500px; /* Тоже подогнать по размерам не могу*/
  margin-top: 20px;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 5px 3px 3px 5px;
  height: 30px 30px 20px 20px ;
  background-color: #63b5ae;
  border-right: 900px solid;
}
.a h2 {
  text-align:center;
  margin-top: 203px;
  font-size: 30px;
  font-weight: bold;
}
.a h3 {
  padding-left: 500px;
  padding-top: 60px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.a select {
  padding-left: 1000px;

}
.a h4 {
  padding-left: 500px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.a h5 {
  padding-left: 500px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.a p {
  padding-left: 500px;
  color: #1c2534;
  font-weight: bold;
}

.Statistics {
  box-shadow: white;
  height: 500px;
  margin-top: 200px;
  background:url("../img/23  НАГРАД ПОЛУЧЕНО .png") 81.5% 70% no-repeat,url("../img/340  ПРОЕКТОВ ЗАВЕРШЕНО .png") 60.5% 70% no-repeat,url("../img/4,600  ЧАСОВ РАБОТЫ .png") 39.5% 70% no-repeat,url("../img/120  СЧАСТЛИВЫХ КЛИЕНТОВ .png") 17.5% 70% no-repeat,url("../img/кубок.png") 80% 50% no-repeat,url("../img/галочка.png") 60% 50% no-repeat ,url("../img/скобки.png") 40% 50% no-repeat,url("../img/смайл.png") 20% 50% no-repeat,url("../img/Черта-заголовка.png") 50% 20% no-repeat ,url("../img/фон 2.png") no-repeat;
}
.Statistics h2 {
  padding-top: 50px;
  text-align: center;
  color: #323e4f;
  font-weight: bold;
  font-size: 30px;
}
.Reviews h2 {
  margin-top: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #243042;
  box-shadow: white;
  height: 250px;
  background:url("../img/фотка 1.png") 50% 60% no-repeat,url("../img/Черта-заголовка.png") 50% 20% no-repeat;
}
.Reviews h3 {
  text-align: center;
  color: #243042;
}
.Reviews p {
  text-align: center;
  padding-top: 30px;
  color: #243042;
  box-shadow: white;
  height: 80px;
  background:url("../img/Оранж копия.png") 51.5% 100% no-repeat,url("../img/Оранж копия.png") 50% 100% no-repeat,url("../img/Оранж.png") 48.5% 100% no-repeat;
}
.Contacts {
  box-shadow: white;
  height: 800px;
  margin-top: 90px;
  background:url("../img/труба.png") 68% 35% no-repeat,url("../img/+7 999 999-99-99.png") 69% 40% no-repeat,url("../img/info@companyname.com.png") 50% 40% no-repeat,url("../img/конверт.png") 50% 35% no-repeat,url("../img/гео.png") 32.5% 35% no-repeat,url("../img/Черта-заголовка.png") 50% 22% no-repeat,url("../img/Фон 3.png") no-repeat;
}
.Contacts h2 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-top: 120px;
  text-align: center;
}
.Contacts h3 {
  color: white;
  text-align: center;
  padding-top: 50px;
}
.Contacts h4 {
  color:white;
  padding-left: 440px;
  padding-top: 100px;
}
 .Contacts p {
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
}
.Contacts textarea {
  margin-top: 80px;
  margin-left: 500px;
}
.Contacts input {
  margin-left: 400px;
  margin-top: 50px;
}
.END p{
  width: 100%;
  height: 60px;
  background: #344051;
  text-align: center;
  color: white;
  padding-top: 30px;
}
